{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
  {% if edit_mode %}Edit{% else %}Create{% endif %} Community
{% endblock %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-header bg-primary text-white fw-semibold">
    <i class="fas fa-users"></i>
    {% if edit_mode %}Edit{% else %}Create{% endif %} Community
  </div>

  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Name -->
      <div class="mb-3">
        <label for="id_name" class="form-label">Name</label>
        {{ form.name|add_class:"form-control" }}
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="id_description" class="form-label">Description</label>
        {{ form.description|add_class:"form-control" }}
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label for="id_image" class="form-label">Image</label>
        {{ form.image|add_class:"form-control" }}
      </div>

      <div class="mb-3">
        <label class="form-label">Tags</label>
        {{ form.tags }}
      </div>
    
      

      <!-- Buttons -->
      <div class="d-flex justify-content-end">
        {% if edit_mode %}
          <a class="btn btn-secondary me-2" href="{% url 'community_detail' community.pk %}">Cancel</a>
        {% else %}
          <a class="btn btn-secondary me-2" href="{% url 'community_list' %}">Cancel</a>
        {% endif %}
        <button type="submit" class="btn btn-success">
          {% if edit_mode %}Update{% else %}Create{% endif %}
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
