{% extends "base.html" %}
{% block title %}Create Post{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>Create Post in {{ community.name }}</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form.as_p }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}